@font-face {
    font-family: 'CustomFont';
    src: url("../fonts/Long\ Clam\ Demo\ Version.ttf");
}

@font-face {
    font-family: 'CustomFont2';
    src: url("../fonts/ZeroCool-MVD9B.ttf");
}

@font-face {
    font-family: 'CustomFont3';
    src: url("../fonts/BungeeInline-Regular.ttf");
}

header.header{
    background-color: rgba(253, 150, 210, 0.15);
    margin: 0px;
    width: 100%;
    height: 100px; 
    top: 0px;
    position: fixed;
    transition: top 1.5s ease, opacity 0.5s;
    display: flex;
    overflow: hidden;
    z-index: 1;
    
}

header.header .logo{
    height: 100%;
    width: 10%;
    display: flex;
}

header.header .logo .logoImage{
    height: 80%;
    width: 100%;
    background-image: url("../asset/image.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 25px;
    margin-top: 10px;
    
}

header.header .menu{
    height: 100%;
    width: 90%;
    display: flex;
    padding-left: 5%;
}

header.header .menu .tab{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    background:rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    height: 25%;
    width: 25%;
    margin-top: 30px;
  }

  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    background: transparent;
  }

  .search-bar button {
    border: none;
    background: rgba(216, 215, 215, 0.2);
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .search-bar button:hover {
    background: #005a9e;
  }

  .search-bar:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-color: #0078d4;
  }

header.header .menu .tab .button{
    height: 2.2rem;
    width: 7.5rem;
    display: flex;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
    z-index: 1;
    border-radius: 1rem;
    font-weight: bolder;
    color: white;
    font-size: 14px;
}

header.header .menu .tab .button:hover{
    background-color: red;
    scale: 1.11;
}


@media (width > 1000px)
{
    header.header .deco{
        border-left: 0.15rem solid;
        border-color: rgb(190, 190, 190);
        border-radius: 0.1rem;
        width: 1rem;
        height: 4rem;
        position: absolute;
        margin-top: 20px;
        left: 210px;
    }
}

@media (width < 1000px)
{
    header.header{
        height: 100px; 
    }
}

div.titlebar1{
    background-color: cadetblue;
    margin: 0px;
    width: 100%;
    height: 300px;

}
div.titlebar2{
    background-color: saddlebrown;
    margin: 0px;
    width: 100%;
    height: 300px;
}
div.titlebar3{
    background-color: rebeccapurple;
    margin: 0px;
    width: 100%;
    height: 300px;
}
div.titlebar4{
    background-color: navy;
    margin: 0px;
    width: 100%;
    height: 300px;
    border: 0.2rem solid black;
}
body{
    margin: 0px;
    background-color: aliceblue;
}