@font-face {
    font-family: 'Custom2';
    src: url('Font/gomarice_mukasi_mukasi.ttf');
}
@font-face {
    font-family: 'listfont';
    src: url('Font/orange juice 2.0.ttf');
}
@font-face {
    font-family: 'CustomFont';
    src: url('Font/genkai-mincho.ttf') format('truetype');
}
@font-face {
    font-family: 'yearfont';
    src: url('Font/Billstone Signature Personal Use Only.ttf') format('truetype');
}


h2 { 
    font-family: 'CustomFont' , sans-serif;
    color:cornflowerblue;
    font-size: 100px;
    text-align: center;
    font-weight: 300;
} 
h3 {
    font-family: 'Custom2' , sans-serif;
    color :brown;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

div.container {
    background-color: beige;
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 100px;
    box-shadow: 20px 20px 10px;
}

div.container div.konDe{
    border:  10px ridge yellowgreen;
    height: 80%;
    width: 30%;
    margin: 1.5rem;
    border-radius: 30px;
    box-shadow: 10px 8px 5px black;
}

div.container div.banDe{
    border:  2px dashed blue;
    height: 500px;
    border-radius: 20px;
    height: 150px;
    width: 300px;
}
p.adada {
    
    font-family: 'CustomFont' , sans-serif;
    color: blueviolet;
    font-size: 200%;
    text-align: top;
    font-weight: bold;
    
}


div.listCon{
    
    height: 400px;
    width: 500px;
    margin-top: 100px;
    margin-left: 1200px;
    position: relative;
    box-shadow: 0em 0em 2em;
    border: thick double;
    border-color: rgba(125, 55, 143, 0.281);
    border-radius: 8%;
    background-color: rgba(240, 248, 255, 50);
}
div.listCon::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../asset/oke.png");
    
    opacity: 0.25;
    filter: blur(2px);
    position: absolute;
}

p.listTitleId{
    margin-top: -1rem;
    margin-left: 10rem;
    font-family: 'listfont' , sans-serif;
    font-size: 120px;
    position: absolute;
}

ol.listID{
    margin-top: 10rem;
    margin-left: 1rem;
    font-family: 'listfont' , sans-serif;
    font-size: 50px;
    position: absolute;
}

ol.listID2{
    margin-top: 10rem;
    margin-left: 18rem;
    font-family: 'listfont' , sans-serif;
    font-size: 50px;
    position: absolute;
}

div.flexBoxContainer{
    width: 50rem;
    height: 35rem;
    margin-top: 5rem;
    margin-left: 10rem;
    position: absolute;
    border-right: 0.2em solid rgb(161, 158, 158);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

}

div.itemMonth::after{
    content: "";
    z-index: -1;
    margin-left: -7rem;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3rem;
    background-color:rgb(113, 186, 214);
    transition:  all 1s;
    background-image: url("../asset/apple.png");
    background-size: contain;
    opacity: 0.7;
    filter: blur(2px);
}

div.itemMonth{
    font-family: 'Custom2' , sans-serif;
    margin: 1rem;
    height: 5.0rem;
    width: 8rem;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px 4.5px black;
    transition:  all 1s;
    position: relative;
}


div.itemMonth:hover::after{
    transform:scale(1.2);
    background-color: rgb(135, 221, 255);
}

div.itemMonth:hover{
    transform:scale(1.07);
}


div.itemMonth3::after{
    content: "";
    z-index: -1;
    margin-left: -7rem;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3rem;
    background-color:rgb(113, 186, 214);
    transition:  all 1s;
    background-image: url("../asset/banana.png");
    background-size: contain;
    opacity: 0.7;
    filter: blur(2px);
}

div.itemMonth3{
    font-family: 'Custom2' , sans-serif;
    margin: 1rem;
    height: 5.0rem;
    width: 8rem;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px 4.5px black;
    transition:  all 1s;
    position: relative;
}


div.itemMonth3:hover::after{
    transform:scale(1.2);
    background-color: rgb(135, 221, 255);
}

div.itemMonth3:hover{
    transform:scale(1.07);
}

div.itemMonth6::after{
    content: "";
    z-index: -1;
    margin-left: -7rem;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3rem;
    background-color:rgb(113, 186, 214);
    transition:  all 1s;
    background-image: url("../asset/coconat.png");
    background-size: contain;
    opacity: 0.7;
    filter: blur(2px);
}

div.itemMonth6{
    font-family: 'Custom2' , sans-serif;
    margin: 1rem;
    height: 5.0rem;
    width: 8rem;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px 4.5px black;
    transition:  all 1s;
    position: relative;
}


div.itemMonth6:hover::after{
    transform:scale(1.2);
    background-color: rgb(135, 221, 255);
}

div.itemMonth6:hover{
    transform:scale(1.07);
}

div.itemMonth9::after{
    content: "";
    z-index: -1;
    margin-left: -7rem;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3rem;
    background-color:rgb(113, 186, 214);
    transition:  all 1s;
    background-image: url("../asset/mango.png");
    background-size: contain;
    opacity: 0.7;
    filter: blur(2px);
}

div.itemMonth9{
    font-family: 'Custom2' , sans-serif;
    margin: 1rem;
    height: 5.0rem;
    width: 8rem;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px 4.5px black;
    transition:  all 1s;
    position: relative;
}


div.itemMonth9:hover::after{
    transform:scale(1.2);
    background-color: rgb(135, 221, 255);
}

div.itemMonth9:hover{
    transform:scale(1.07);
}

div.itemMonth12::after{
    content: "";
    z-index: -1;
    margin-left: -7rem;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3rem;
    background-color:rgb(113, 186, 214);
    transition:  all 1s;
    background-image: url("../asset/peach.png");
    background-size: contain;
    opacity: 0.7;
    filter: blur(2px);
}

div.itemMonth12{
    font-family: 'Custom2' , sans-serif;
    margin: 1rem;
    height: 5.0rem;
    width: 8rem;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px 4.5px black;
    transition:  all 1s;
    position: relative;
}


div.itemMonth12:hover::after{
    transform:scale(1.2);
    background-color: rgb(135, 221, 255);
}

div.itemMonth12:hover{
    transform:scale(1.07);
}

div.itemMonth11::after{
    content: "";
    z-index: -1;
    margin-left: -7rem;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3rem;
    background-color:rgb(113, 186, 214);
    transition:  all 1s;
    background-image: url("../asset/durian.png");
    background-size: contain;
    opacity: 0.7;
    filter: blur(2px);
}

div.itemMonth11{
    font-family: 'Custom2' , sans-serif;
    margin: 1rem;
    height: 5.0rem;
    width: 8rem;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 5px 4.5px black;
    transition:  all 1s;
    position: relative;
}


div.itemMonth11:hover::after{
    transform:scale(1.2);
    background-color: rgb(135, 221, 255);
}

div.itemMonth11:hover{
    transform:scale(1.07);
}

p.year{
    font-family: 'yearfont' , sans-serif;
    font-size: 7rem;
    margin-top: -2rem;
    margin-left: 12.5rem;
    font-weight: bold;
    position: absolute;

}